* {
	line-height: 150%;
	font-family: sans-serif;
	margin: 0;
}

.header {
	text-align: center;
	font-size: 500%;
	background-color: #6ebcde;
}

.banner {
	width: 100%;
	vertical-align: middle;
	text-align: center;
	font-size: 150%;
	background-color: #b9b9b9;
}

img {
	width: 100%;
	border: 2px solid;
	margin-top: 3%;
	border-radius: 7px;
}

img:hover {
	width: 110%;
}

a {
	text-decoration-color: black;
	color: black;
	text-decoration-line: none;
}

.content {
	padding: 10%;
}

.box,
.navigation li,
.navigation a,
.reviews {
	vertical-align: middle;
	display: inline-block;
	font-size: 1.6em;
}

.box {
	width: 46%;
}

.navigation {
	background-color: #378aae;
}
.navigation li:hover {
	background-color: #15ef40;
	animation-name: animate_navigation_color;
	animation-duration: 4s;
}

@keyframes animate_navigation_color {
	from {background-color: #378aae;}
	to {background-color: #15ef40;}
}

.navigation li,
.navigation a {
	display: inline-block;
}

.navigation li {
	border-radius: 7px;
}

.navigation a {
	font-size: 1.2em;
	padding: 2vmax;
}

.reviews {
	width: 90%;
	margin: 5%;
	background-color: #6ebcde;
}