/* Define CSS Variables */
:root {
    --primary-color: #378aae;
    --secondary-color: #3a6186;
    --accent-color: #15ef40;
    --hover-color: #FF5733;
    --background-color: #f4f4f4;
    --text-color: #333;
    --white-color: #fff;
    --font-family: 'Arial', sans-serif;
    --header-height: 60px;
    --box-shadow-light: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1);
}

::selection {
    background-color: yellow;
    color: black;
}

/* Universal Styles */
* {
    line-height: 1.5;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation */
.navigation {
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow-medium);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo a {
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
}

.profile-picture {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 2rem auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: var(--white-color);
    font-size: 1.2em;
    padding: 1rem;
    transition: background-color 0.3s ease;
}

.nav-menu li a:hover {
    background-color: var(--hover-color);
    border-radius: 7px;
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--white-color);
    margin: 5px 0;
    transition: 0.4s;
}

.menu-toggle.is-active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.is-active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.is-active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-menu.active {
    display: block;
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 0;
}

.nav-menu.active li {
    text-align: center;
    margin: 0;
}

.nav-menu.active li a {
    display: block;
    padding: 15px;
}

/* Header */
.header {
    background: transparent;
    color: var(--white-color);
    text-align: center;
    padding: 6rem 0;
    position: relative;
    margin-top: var(--header-height); /* Adjusted for fixed navigation */
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.header h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.header p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3498db;
}

/* Section Styling */
section {
    padding: 4rem 0;
    background-color: var(--white-color);
    margin: 2rem auto;
    width: 80%;
    box-shadow: var(--box-shadow-light);
    border-radius: 8px;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

section p {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
}

.honors{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* Project & Honors Grid */
.project-grid, .skills-grid, .article-grid {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.project-item, .honor-item, .article-item, .skill-item {
    flex: 1;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: var(--box-shadow-light);
    min-height: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for the cards */
@media (min-width: 768px) {
    .project-item:hover, .honor-item:hover, .article-item:hover, .skill-item:hover {
        transform: scale(1.05); /* Scale up the card */
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Enhance the shadow effect */
    }
}


.project-item img, .article-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease; /* Add transition to the image */
}

.project-item:hover img, .article-item:hover img {
    transform: scale(1.05); /* Slightly enlarge the image */
}

.project-item h3, .honor-item h3, .article-item h3, .skill-item h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.project-item p, .honor-item p, .article-item p, .skill-item p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

/* Footer */
.footer {
    background-color: var(--text-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

/* Three.js Background */
#threejs-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Media Queries */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header p {
        font-size: 1.2rem;
    }

    section {
        width: 95%;
    }

    .project-grid, .skills-grid, .honors, .article-grid {
        flex-direction: column;
    }
}
